/* Extra Styling for Greeting class */
.greeting {
  text-align: left;
}

/* Extra Styling for Great Wall Image */
#greatwallpic {
  max-width: 70%;
  min-width: 190px;
}

#footer {
	background-color: #222222;
	color: white;
	padding-top: 5px;
}