.greeting {
  text-align: left;
  color: #222222;
}

/* Opening paragraph font-size media queries */

@media screen and (min-width: 640px) and (max-width: 750px) {
	#opening{
		font-size: 18px;
	}
}

@media screen and (min-width: 750px) and (max-width: 1025px) {
	#opening{
		font-size: 22px;
	}
}

@media screen and (min-width: 1025px) {
	#opening {
		font-size: 24px;
	}
	img {
		max-height: 189px;
	}
	#project-blurb {
		height: 150px;
		overflow: scroll;
	}
}

#greatwallpic {
  max-width: 70%;
  min-width: 190px;
}

.work-title {
	margin-bottom: 10px;
	font-family: lobster-two, cursive;
}

.project-block {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid #222222;
}

#footer {
	background-color: #222222;
	color: white;
	padding-top: 5px;
}

#resume-topright {
	float: right;
}

#resume-top {
	background-color: #222222;
}

.resume-header {
	color: #008cba
}