/* Extra Styling for Greeting class */
.greeting {
  text-align: left;
}

@media screen and (min-width: 1025px){
	.greeting {
		font-size: 26.5px;
	}
}

/* Extra Styling for Great Wall Image */
#greatwallpic {
  max-width: 70%;
  min-width: 190px;
}

#footer {
	background-color: #222222;
	color: white;
	padding-top: 5px;
}

#resume-topright {
	float: right;
}

#resume-top {
	background-color: #222222;
}

.resume-header {
	color: #008cba
}